<!-- Splash screen MacSpace -->
<div class="splash-screen" [class.hidden]="splashHidden">
  <div class="splash-content">
    <img
      src="https://res.cloudinary.com/dwdkltr38/image/upload/v1774436576/logo-macsecurite_macspace_l8sxy0.png"
      alt="MacSpace"
      class="splash-logo"
    />
    <p class="splash-tagline">Mac Sécurité</p>
    <div class="splash-loader">
      <div class="splash-loader-bar"></div>
    </div>
  </div>
</div>

<!-- Point d'entrée principal de l'application MacSpace -->
<router-outlet></router-outlet>